:root {
  --background__gs: hsl(45, 40%, 85%);
  --background__gs__alt: hsl(45, 45%, 92%);
  --active-bg__gs: hsl(45, 30%, 96%);
  --active-link__gs: var(--text-color);
}

[data-theme='dark'] {
  --background__gs: hsl(20, 5%, 12%);
  --background__gs__alt: hsl(0, 3%, 22%);
  --active-bg__gs: var(--text-color);
  --active-link__gs: var(--background);
}

.sidebar__global {
  background-color: var(--background__gs);
  height: 100vh;
  width: var(--global-sidebar__width);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 20px);
    padding: 10px 0;
  }

  a,
  button {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--sans);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: var(--background__gs__alt);
    }
  }

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }

  li {
    list-style: none;
    text-align: center;
    padding: 3px;
  }

  a.active-link {
    background-color: var(--active-bg__gs);
    color: var(--active-link__gs);
  }
}

.login-form__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);

  .login-form {
    width: 350px;
    background-color: white;
    border: 1px solid lightgray;
    left: calc(var(--global-sidebar__width) + 10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 200px auto;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .login-form__section {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;

      label {
      }

      input {
        padding: 8px;
        border-radius: 10px;
        border: 1px solid lightgray;
      }

      .form-help-message {
        color: #666;
        font-size: 0.7rem;
      }
    }

    .option-buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      margin: 20px 0;
    }

    .create-account-message {
      font-size: 0.9rem;
      text-align: center;

      a {
        color: hsl(230, 60%, 52%);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
