:root {
  --cell-border: 1px solid var(--gray);
}
[data-theme='dark'] {
  --cell-border: 1px solid hsl(0, 2%, 30%);
}

.week-view__component {
  padding: 10px;
  width: calc(var(--calendar__subpage__width) - 20px);
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;

  .calendar-caption {
    display: flex;
    align-items: center;

    h1 {
      flex: 1;
      text-align: center;
      margin: 0;
    }
  }

  .calendar-headers {
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
      font-size: 1.1rem;
    }
  }

  .calendar-body {
    display: flex;
    height: 100%;
    border-bottom: var(--cell-border);
    border-right: var(--cell-border);

    div {
      flex: 1;
      border-top: var(--cell-border);
      border-left: var(--cell-border);
    }
  }
}
